<html>
<head>
    <title>Item Details</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Study Area Map Maker</h1>
    <p>by <strong>DEREK CHAI</strong></p>

    <form hx-post="/get_map" hx-target="#map-container" hx-swap="innerHTML" 
    enctype="multipart/form-data">
        <label>Shapefiles
            <input type="file" name="shapefiles" multiple required>
        </label>
        <br>

        <label>Title
            <input type="text" name="title" value="My Study Map">
        </label>
        <br>

        <button type="submit">Generate</button>
    </form>

    <div id="map-container"></div>

</body>
</html>